
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="名榜,wangid">
    <title>WangID办公管理系统</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/children.css">

    <!-- 在线图标库 地址：http://fontawesome.dashgame.com/-->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- layui css -->
    <link rel="stylesheet" href="/static/css/layui.css">
    <script type="text/javascript" src="/static/js/jquery-1.11.0.min.js"></script>
    
</head>

<body>
    <div class="wangid_conbox">
        <!-- 当前位置 -->
        <div class="zy_weizhi bord_b">
            <i class="fa fa-home fa-3x"></i>
            <a href="#" onclick="javascript:top.location.href='/index/index'">首页</a>
            <a href="/notice/list">公司公告</a>
            <span>内容</span>
        </div>
        <!-- 内容 -->    
        <div class="wenxts_ke">
            <div style="text-align: center">
                <h1>{{ notice.title }}</h1>
            </div>
            <div>
                <h3 style="text-indent:2em;">{{ notice.content }}</h3>
            </div>
        </div>
        <h3 style="float: right">{{ notice.updated_time }}</h3>
    </div>   
    
	<!-- houl --> 
	<!-- 结束 -->
    <!-- layui js -->
    <script src="/static/js/layui.js"></script>
    
</body>

</html>
