<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="名榜,wangid">
    <title>WangID办公管理系统</title>

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/children.css">

    <!-- 在线图标库 地址：http://fontawesome.dashgame.com/-->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- layui css -->
    <link rel="stylesheet" href="layui/css/layui.css">
    <script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
    
</head>

<body>
    <div class="wangid_conbox">
        <!-- 当前位置 -->
        <div class="zy_weizhi bord_b">
            <i class="fa fa-home fa-3x"></i>
            <a>首页</a>
            <a>工单进程</a>
            <a>我的工单</a> 
            <span>详情</span>
        </div>
        <!-- 内容 -->    
        <div class="wenxts_ke">
            <p><i>温馨提示：</i>请认真核对员工信息正确无误后再确定添加，并上传员工的对应简历图片</p>
        </div>  
        <!-- 下面写内容 -->
        <div class="gd_my_xq_top">
            <p><b>公司名称：</b>贵州九树子美容服务有限公司</p>
            <p><b>产品类型：</b>全网营销</p>
            <p><b>所有人：</b>谭振中 杨奇林</p>
            <p><b>注册日期：</b>2019-05-10</p>
            <p><b>制作人员：</b>肖韦</p>
        </div>
        <div class="gd_my_buz">
            <ul>
                <li class="no"><p>待制作</p></li>
                <li><p>制作中</p></li>           
                <li><p>待确认</p></li>           
                <li><p>修改中</p></li>           
                <li><p>已完成</p></li>     
            </ul>
        </div>
        <div class="gd_diangq_zt">
            <div class="left">
                <!-- <p>修改进度：</p> 
                <textarea name="" id="" cols="30" rows="8" placeholder="请填写修改进度"></textarea> -->
                <div class="anniu">
                    <a href="GongDJC_my2.html" class="main_self_frame">开始制作</a>
                    <a href="javascript:;" class="no1"  onclick="history.back();">返回列表</a>
                </div>
            </div>
            <!-- <div class="right_fd">
                <ul>
                    <li>
                        <p><i></i><b>制作中</b>(2019-05-21 15:30)</p>
                    </li>
                    <li>
                        <dl>
                            <dt><img src="images/hong.png" alt=""><span>2019-05-21 18:30</span></dt>
                            <dd>开始制作网站，联系客户发资料过来</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt><img src="images/hong.png" alt=""><span>2019-05-21 18:30</span></dt>
                            <dd>开始制作网站，联系客户发资料过来</dd>
                        </dl>
                    </li>
                    <li>
                        <p><i></i><b>制作中</b>(2019-05-21 15:30)</p>
                    </li>
                    <li>
                        <p><i></i><b>制作中</b>(2019-05-21 15:30)</p>
                    </li>
                    <li>
                        <dl>
                            <dt><img src="images/hong.png" alt=""><span>2019-05-21 18:30</span></dt>
                            <dd>开始制作网站，联系客户发资料过来</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt><img src="images/hong.png" alt=""><span>2019-05-21 18:30</span></dt>
                            <dd>开始制作网站，联系客户发资料过来开始制作网站，联系客户发资料过来开始制作网站，联系客户发资料过来。</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt><img src="images/hong.png" alt=""><span>2019-05-21 18:30</span></dt>
                            <dd>开始制作网站，联系客户发资料过来</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt><img src="images/hong.png" alt=""><span>2019-05-21 18:30</span></dt>
                            <dd>开始制作网站，联系客户发资料过来</dd>
                        </dl>
                    </li>
                </ul>
            </div> -->
        </div>
    </div>  
    <!-- layui js -->
    <script src="layui/layui.js"></script>
</body>
</html>
 