<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit"/>
	<meta name="force-rendering" content="webkit"/>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="名榜,wangid">
	<title>WangID办公管理系统</title>

	<!-- CSS -->
	<link rel="stylesheet" href="css/style.css">
	 <link rel="stylesheet" href="css/children.css">

	<!-- 在线图标库 地址：http://fontawesome.dashgame.com/-->
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

	<!-- layui css -->
	<link rel="stylesheet" href="layui/css/layui.css" media="all">
	<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script> 
	<!-- layui js -->
	<script src="layui/layui.js"></script>
</head>


<body style="background: #fff;">
<div class="tianjia_xx">
    <table class="if_tianjiatext layui-table" lay-size="lg"> 
    <tbody>
        <tr>
            <td class="td_1">意向</td> 
            <td>
                <div class="layui-input-inline">
                    <select name="quiz1">
                        <option value="请选择意向大小">请选择意向大小</option>
                        <option value="大">大</option>
                        <option value="中">中</option>  
                        <option value="小">小</option> 
                    </select>
                </div>
            </td>
        </tr>
        <tr>
            <td  class="td_1">客户网址</td> 
            <td><input type="text" placeholder="www.gyjbbyery.com"></td>
        </tr>
        <tr>
            <td  class="td_1">单位名称</td> 
            <td><input type="text" placeholder="贵州九树子美容服务有限公司"></td>
        </tr>
        <tr>
            <td  class="td_1">联系人</td> 
            <td><input type="text" placeholder="潘经理"></td>
        </tr>
        <tr>
            <td  class="td_1">联系电话</td> 
            <td><input type="text" placeholder="18798990999"></td>
        </tr>
        <tr>
            <td  class="td_1">通话结果</td> 
            <td> <input type="text" placeholder="考虑下，明后天给答复"></td>
        </tr>
        <tr>
            <td  class="td_1">公司地址</td> 
            <td> <input type="text" placeholder="请输入公司地址"></td>
        </tr>
        <tr class="tianjie_button">
            <td colspan="2" style="border-right:1px solid #e6e6e6;">
                <button>确定添加</button>
            </td>  
        </tr>
    </tbody>
    </table>
</div>
<script type="text/javascript">
	 
</script> 
</body>

</html>
    