<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="名榜,wangid">
    <title>WangID办公管理系统</title>

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/children.css">

    <!-- 在线图标库 地址：http://fontawesome.dashgame.com/-->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- layui css -->
    <link rel="stylesheet" href="layui/css/layui.css">
    <script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
    
</head>

<body>
    <div class="wangid_conbox">
        <!-- 当前位置 -->
        <div class="zy_weizhi bord_b">
            <i class="fa fa-home fa-3x"></i>
            <a>首页</a>
            <a>回访记录</a>
            <span>我的回访记录</span>
        </div>
        <!-- 内容 -->    
        <!-- 筛选 --> 
        <div class="shuaix"> 
            <div class="right">
                <input type="text" placeholder="贵州华盛名酒销售有限公司">
                <a href="#">查询</a>
            </div>
        </div>
        <!-- 下面写内容 -->
        <table class="layui-table" lay-filter="mylist" lay-size="lg">
            <thead>
                <tr> 
                    <th lay-data="{type:'checkbox',fixed:'left'}"></th>
                    <th lay-data="{field:'yx', align:'center',width:180}">拜访时间</th>
                    <th lay-data="{field:'time',align:'center', minWidth:240}">单位名称</th>
                    <th lay-data="{field:'www',align:'center',minWidth:98}">客户称呼</th>
                    <th lay-data="{field:'company',align:'center',minWidth:260}">客户地址</th>
                    <th lay-data="{field:'user',align:'center',width:180}">客户电话</th>
                    <th lay-data="{field:'tel',align:'center',width:100}">拜访用时</th>
                    <th lay-data="{field:'result',align:'center',minWidth:100}">拜访情况</th>
                    <th lay-data="{field:'addr',align:'center',minWidth:120}">后期处理</th> 
                    <th lay-data="{field:'addr1',align:'center',minWidth:120}">备注</th> 
                    <th lay-data="{field:'addr2',align:'center',minWidth:120}">行政回访</th> 
                    <th lay-data="{field:'addr3',align:'center',minWidth:210}">领导意见</th>  
                </tr> 
            </thead>
            <tbody>
                <tr> 
                    <td></td>
                    <td>2019-5-9 16:00</td>
                    <td>贵州万家美装饰有限公司</td>
                    <td>翁总</td>
                    <td>贵州省贵阳市金阳世纪城</td>
                    <td>13698509298</td>
                    <td>00:10</td>
                    <td>考虑中</td>
                    <td>继续跟进</td>
                    <td> </td>
                    <td> </td>
                    <td></td>  
                </tr>  
                <tr> 
                    <td></td>
                    <td>2019-5-9 16:00</td>
                    <td>贵州万家美装饰有限公司</td>
                    <td>翁总</td>
                    <td>贵州省贵阳市金阳世纪城</td>
                    <td>13698509298</td>
                    <td>00:10</td>
                    <td>考虑中</td>
                    <td>继续跟进</td>
                    <td> </td>
                    <td> </td>
                    <td></td>  
                </tr>
                <tr> 
                    <td></td>
                    <td>2019-5-9 16:00</td>
                    <td>贵州万家美装饰有限公司</td>
                    <td>翁总</td>
                    <td>贵州省贵阳市金阳世纪城</td>
                    <td>13698509298</td>
                    <td>00:10</td>
                    <td>考虑中</td>
                    <td>继续跟进</td>
                    <td> </td>
                    <td> </td>
                    <td>此客户心态不正常，如真想
                        做的，会同你的技术员去沟
                        通，而不是销售员。阅 
                        (2010.10.08)</td>  
                </tr>
            </tbody>  
        </table>

    </div> 
<!-- 自定义头部工具栏 -->
    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container"> 
            <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">删除</button> 
        </div>
    </script> 
    <!-- layui js -->
    <script src="layui/layui.js"></script>
    
</body>

</html>
<script type="text/javascript">
	//静态表格
    layui.use('table',function(){
            var table = layui.table;
            //转换静态表格
            table.init('mylist', {
                height: 'full-130' //高度最大化减去差值,也可以自己设置高度值：如 height:300
                ,count: 50 //数据总数 服务端获得
                ,limit: 10 //每页显示条数 注意：请务必确保 limit 参数（默认：10）是与你服务端限定的数据条数一致
                ,page:true //开启分页 
                ,toolbar: '#toolbarDemo' //指向自定义工具栏模板选择器 
                ,defaultToolbar:['filter', 'exports']
                ,limits:[10, 20, 30, 40, 50]//分页显示每页条目下拉选择
                ,cellMinWidth: 60//定义全局最小单元格宽度，其余自动分配宽度
            }); 
            //监听头工具栏事件
            table.on('toolbar(mylist)', function(obj){
                var checkStatus = table.checkStatus(obj.config.id)
                ,data = checkStatus.data; //获取选中的数据 
                switch(obj.event){  
                case 'getCheckLength':
                    if(data.length === 0){
                    layer.msg('请选择一行');
                    } else {
                    layer.msg('删除');
                    }
                break;
                };
            }); 
        }); 
        layui.use('laydate', function(){
        var laydate = layui.laydate; 
        //年选择器
        laydate.render({
            elem: '#test2'
            ,type: 'month'
        });
        
        //年月选择器
        laydate.render({
            elem: '#test3'
            ,type: 'month'
        });
    });
 
</script> 