<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="名榜,wangid">
    <title>WangID办公管理系统</title>

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/children.css">

    <!-- 在线图标库 地址：http://fontawesome.dashgame.com/-->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- layui css -->
    <link rel="stylesheet" href="layui/css/layui.css">
    <script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
    
</head>

<body>
    <div class="wangid_conbox">
        <!-- 当前位置 -->
        <div class="zy_weizhi bord_b">
            <i class="fa fa-home fa-3x"></i>
            <a>首页</a>
            <a>客户保护</a>
            <span>我的保护系统列表</span>
        </div>
        <!-- 筛选 --> 
	<div class="shuaix"> 
            <div class="right">
                <input type="text" placeholder="请输入关键词查询">
                <a href="#">查询</a>
            </div>
        </div>
        <!-- 下面写内容 -->
        <table class="layui-table" lay-filter="mylist" lay-size="lg">
            <thead>
                <tr>
                    <th lay-data="{type:'checkbox',fixed:'left'}"></th> 
                    <th lay-data="{field:'time',align:'center', minWidth:260}">公司名称</th>
                    <th lay-data="{field:'www',align:'center',minWidth:170}">网址</th>
                    <th lay-data="{field:'company',align:'center',minWidth:130}">联系人</th>
                    <th lay-data="{field:'user',align:'center',width:130}">联系电话</th>
                    <th lay-data="{field:'tel',align:'center',width:130}">添加日期</th>
                    <th lay-data="{field:'result',align:'center',minWidth:130}">截止日期</th>
                    <th lay-data="{field:'addr',align:'center',minWidth:130}">续保</th>
                    <th lay-data="{field:'addr2',align:'center',minWidth:130}">备注</th>
                    <th lay-data="{field:'addr3',align:'center',minWidth:230}">领导意见</th>
                    <th lay-data="{field:'option',align:'center',width:130,toolbar:'#barDemo',fixed: 'right'}">操作</th>
                </tr> 
            </thead>
            <tbody>
                <tr>
                    <td></td> 
                    <td>贵州万家美装饰有限公司</td>
                    <td>www.wangid.com</td>
                    <td>潘总</td>
                    <td>15786789868</td>
                    <td>2019-05-13</td>
                    <td>2019-05-20</td>
                    <td></td>
                    <td></td>
                    <td>[阅]继续跟进（2019.5.17）</td> 
                </tr> 
                <tr>
                    <td></td> 
                    <td>贵阳泛兴汽车保修设备有限责任</td>
                    <td>www.wangid.com</td>
                    <td>罗总</td>
                    <td>15786789868</td>
                    <td>2019-05-13</td>
                    <td>2019-05-20</td>
                    <td></td>
                    <td>在考虑</td>
                    <td>[阅]继续跟进（2019.5.17）</td> 
                </tr> 
            </tbody>  
        </table>
        <script type="text/html" id="barDemo">
            <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        </script> 
    </div> 
   <!-- 自定义头部工具栏 -->
    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container"> 
            <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">删除</button> 
        </div>
    </script> 
	<!-- houl --> 
	<!-- 结束 -->
    <!-- layui js -->
    <script src="layui/layui.js"></script>
    
</body>

</html> 
<script type="text/javascript">
    //静态表格
    layui.use('table',function(){
        var table = layui.table;
        //转换静态表格
        table.init('mylist', {
          height: 'full-130' //高度最大化减去差值,也可以自己设置高度值：如 height:300
          ,count: 50 //数据总数 服务端获得
          ,limit: 10 //每页显示条数 注意：请务必确保 limit 参数（默认：10）是与你服务端限定的数据条数一致
          ,page:true //开启分页
          ,toolbar: '#toolbarDemo'//工具栏
          ,defaultToolbar:['filter', 'exports']
          ,limits:[10, 20, 30, 40, 50]//分页显示每页条目下拉选择
          ,cellMinWidth: 60//定义全局最小单元格宽度，其余自动分配宽度
        }); 
        //监听行工具事件
        table.on('tool(mylist)', function(obj){ //注：tool 是工具条事件名，mylist 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
            ,layEvent = obj.event; //获得 lay-event 对应的值
            if(layEvent === 'del'){
                layer.confirm('真的删除行么', function(index){
                    obj.del(); //删除对应行（tr）的DOM结构
                    layer.close(index);
                    //向服务端发送删除指令
                });
            } else if(layEvent === 'edit'){
                layer.msg('修改操作');
            }
        });  
         //监听头工具栏事件
        table.on('toolbar(mylist)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id)
            ,data = checkStatus.data; //获取选中的数据 
            switch(obj.event){  
            case 'getCheckLength':
                if(data.length === 0){
                layer.msg('请选择一行');
                } else {
                layer.msg('删除');
                }
            break;
            };
        }); 
    }); 
</script> 