<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="名榜,wangid">
    <title>WangID办公管理系统</title>

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/children.css">

    <!-- 在线图标库 地址：http://fontawesome.dashgame.com/-->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- layui css -->
    <link rel="stylesheet" href="layui/css/layui.css">
    <script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
    
</head>

<body>
    <div class="wangid_conbox">
        <!-- 当前位置 -->
        <div class="zy_weizhi bord_b">
            <i class="fa fa-home fa-3x"></i>
            <a>首页</a>
            <a>员工管理</a>
            <span>公司员工添加</span>
        </div>
        <!-- 内容 -->    
        <div class="wenxts_ke">
            <p><i>温馨提示：</i>请认真核对员工信息正确无误后再确定添加，并上传员工的对应简历图片</p>
        </div>
        <div class="kehubh_tj_k">
            <form class="layui-form layui-form-pane" action="">
            <ul> 
                <li>
                    <div class="left">用户名：</div>
                    <div class="right"> 
                        <input type="text" name="title" required lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">   
                    </div>
                </li>
                <li>
                    <div class="left">密码：</div>
                    <div class="right"> 
                        <input type="text" name="title" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                    </div>
                </li>
                <li>
                    <div class="left">姓名：</div>
                    
                    <div class="right"> 
                        <input type="text" name="title" required lay-verify="required" placeholder="请输入姓名" autocomplete="off" class="layui-input">
                    </div>
                </li>
                <li>
                    <div class="left">性别：</div>
                    <div class="right">
                            <input type="radio" name="sex" value="nan" title="男">
                            <input type="radio" name="sex" value="nv" title="女" checked>
                    </div>
                </li>
                <li>
                    <div class="left">工号：</div>
                    <div class="right"> 
                        <input type="text" name="title" required lay-verify="required" placeholder="请输入工号" autocomplete="off" class="layui-input">
                    </div>
                </li>
                <li style="height: 38px; overflow:initial;">
                    <div class="left">部门：</div>
                    <div class="right"> 
                        <select name="city" lay-verify="">
                            <option value="">请选择部门</option>
                            <option value="010">技术部</option>
                            <option value="021">人事部</option>
                            <option value="0571">客服部</option>
                            <option value="0571">营销部</option>
                        </select> 
                    </div>
                </li>
                <li>
                    <div class="left">部门职位：</div>
                    <div class="right">
                            <input type="text" name="title" required lay-verify="required" placeholder="请填写部门职位" autocomplete="off" class="layui-input">
                    </div>
                </li>
                <li>
                    <div class="left">排序：</div>
                    <div class="right">
                            <input type="text" name="title" required lay-verify="required" placeholder="请填写部门职位" autocomplete="off" class="layui-input">
                    </div>
                </li>
                <li>
                    <div class="left">排序：</div>
                    <div class="right">
                            <input style="margin-top: 8px;" type="file">
                    </div>
                </li>
                <li>
                    <div class="left"> 添加身份：</div>
                    <div class="right">
                            <input type="checkbox" name="" title="经理" lay-skin="primary" checked>
                            <input type="checkbox" name="" title="管理员" lay-skin="primary"> 
                    </div>
                </li>
                <li>
                    <div class="left"> &nbsp;</div>
                    <div class="right"> 
                        <button class="button_qr">确定添加</button>
                    </div>
                </li>
            </ul> 
            </form>
        </div>
    </div>   
    <style>
     
 .layui-form-pane .layui-form-checkbox {
    margin: 12px 0 4px 10px!important;
}
    </style>
	<!-- houl --> 
	<!-- 结束 -->
    <!-- layui js -->
    <script src="layui/layui.js"></script>
    
</body>

</html>
<script>
        layui.use(['form', 'layedit', 'laydate'], function(){
          var form = layui.form
          ,layer = layui.layer
          ,layedit = layui.layedit
          ,laydate = layui.laydate;
        });
        </script>
